body {
    background-color: hsl(212, 45%, 89%);
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 375px;
    box-sizing: border-box;
    border-radius: 30px;
}

img {
    width: 100%;
    box-sizing: border-box;
    padding: 4.5%;
    display: block;
    border-radius: 30px;
}

h1,
p {
    font-family: "Outfit", sans-serif;
    text-align: center;
}

h1 {
    width: 80%;
    font-weight: 700;
    font-size: 1.5em;
    margin: 0.4em auto;
}

p {
    font-size: 1em;
    font-weight: 400;
    width: 70%;
    margin: 1em auto 3em auto;
    color: gray;
}